<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nabmanage.nabmanage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Intro"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.nabmanage.nabmanage.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SupervisorReg"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.nabmanage.nabmanage.SUPERVISORREG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Notice" />
        <activity android:name=".Login" />
        <activity android:name=".SvProfile" />
        <activity
            android:name=".StartPage"
            android:label="@string/title_activity_start_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>